*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Joan', serif;
}

a{
    text-decoration: none;
    color: #adadad;
}

.btn{
    font-family: sans-serif;
    display: inline-block;
    padding: .5rem 1rem;
    background-color: #09f;
    border-radius: 2rem;
    color: white;
    transition: .3s;
}

.btn:hover{
    background-color: #09f;
}
.btn-l{
    width: 100%;
    text-align: center;
}

body{
    display: grid;
    background: url(homepage.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    grid-template-columns: 1200px;
    justify-content: space-evenly;
}

table td input[type="button"]{
    background-color: skyblue;
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    width: 50%;
    transition: 0.5;

}

.top-bar{
    background-color: rgba(255, 255, 255, 0.8);
    font-family: sans-serif;
    display: flex;
    height : 50px;
    border-radius: 30px;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1rem;
}

.left-content, .right-content{
    display: flex;
    align-items: center;
}

.kategori-tempat{
    background-color: rgba(255, 255, 255, 0.8);
    font-family: sans-serif;
    display: flex;
    height : 50px;
    border-radius: 30px;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1rem;
}

table td input[type="button"]{
    background-color: skyblue;
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    width: 50%;
    transition: 0.5;

}

.title{
    font-family: sans-serif;
    margin-right: 3rem;
    font-size: 30px;
    color: #09f;
}

form {
    width:300px;
    margin:50px auto;
}
.search {
    padding:10px 30px;
    background:rgba(50, 50, 50, 0.2);
    border:0px solid #dbdbdb;
    border-radius: 30px;
    margin:0;

}
.button {
    position:relative;
    padding:10px 30px;
    top:4px;
    border-radius: 30px;
    left:2px;
    border:2px solid #09f;
    background-color:#09f;
    color:#fafafa;
}
.button:hover  {
    background-color:#fafafa;
    color:#207cca;
}
.navigation{
    display: flex;
    list-style: none;
}

.navigation li{
    margin-right: 1rem;
}


.navigation li a:hover{
    color: #09f;
}

.active{
    font-family: sans-serif;
    color: #09f;
}

.filter, .cart, .help, .menu{
    position: relative;
    width: 20px;
    height: 20px;
}

.filter, .cart, .help {
    margin-right: 1rem;
}

.menu{
    margin-left: 3rem;
}

.filter, .menu{
    display: none;
}

.profile-img-box {
    position: relative;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
}

img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.filter, .cart, .help, .menu{
    position: relative;
    width: 20px;
    height: 20px;
}

/* main-container */

.main-container{
    color: #09f;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
}

/* sidebar */

.sidebar{
    background-color:white;
    color:black;
    backdrop-filter: blur(5px);
    height: fit-content;
    border-radius: 1rem;
    padding: 2rem;
}

.sidebar-groups{

    margin-bottom: 1rem;
}


.sg-title {
    margin-bottom: .5rem;
    color: white;
}

input{
    margin-bottom: .6rem;
}

input[type=checkbox]:checked{
    accent-color: white;
}

input[type=radio]:checked{
    accent-color: white;
}


label {
    margin-left: .5rem;
} 

/* movies container */

.upcoming-img-box{
    position: relative;
    height: 300px;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 1.5rem;
}


.upcoming-title{
    position: absolute;
    top: 2rem;
    left: 2rem;
    color: white;
    background-color: #1e1f26;
    padding: .5rem 1rem;
    border-radius: 2rem;
    border: 1px solid white;
    font-weight: 500;
}

.buttons{
    position: absolute;
    bottom: 2rem;
    left: 2rem;
}

.btn-alt{
    background-color: #1e1f26;
    color: white;
    border: 1px solid white;
    margin-left: 1rem;
}

.btn-alt:hover{
    color: #1e1f26;
    background-color: white;
}



.current-movies{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 4.5rem;
}

.current-movie{
    width: 350px;
    background-color: white;
    padding: 1rem;
    border-radius: .5rem;
}

.cm-img-box{
    position: relative;
    height: 150px;
    width: auto;
    margin-bottom: 1rem;
    border-radius: .5rem;
    overflow: hidden;
}

.movie-title{
    font-family: sans-serif;
    color: gray;
    font-size: 25px;
    margin-bottom: 1.5rem;
}

.booking{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: rem;
}

.screen-name{
    font-family: sans-serif;
    color:black;
    font-size: 15px;
    text-align: justify;
}

.price{
    color: black;
}



